*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1224px;
    height: 100%;
    margin: auto;
}
.container-fluid{
    width: 100%;
    height: 100%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align-last: left;
}
img{
    max-width:100%;
}
a, li{
    text-decoration: none;
    list-style-type: none;
    display:inline block;
}
.clear_fix::after{
    content: "";
    clear: both;
    display: block;
}

/*main css start*/
.header{
    background-color: #000
}
.menu{

}
.logo{
    float: left;
    width: 30%;
}
.logo img{
    width: 104px;
}
.logo h1{
    color: red;
}
.main_menu{
    float:right;
    width: 70%;

}
.main_menu ul{
}
.main_menu ul li{
    position: relative;
    display: inline-block;
    margin-left: -5px;
}
.main_menu ul li a {
    color: white;
    font-size: 20px;
    padding: 11px 40px;
    display: inline-block;
    transition: .5s;
}
.main_menu ul li:hover > a{
    color: #000;
    background: #fff;
}
.main_menu ul li ul {
    position: absolute;
    background: #000;
    top: 100%;
    left: 0;
    width: 205px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition:.9s;
    transform: scaleY(0);
    transform-origin: top center;
}  
.main_menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.main_menu ul li ul li{
    display: block;
    margin-left: 0;
}
.main_menu ul li ul li a{
    color: #fff;
    display: block;
}


/*banner_section/**/
.banner{
    background-image: url(https://i.ibb.co/MSKnmcs/177230218-777420522977651-8847477568731629610-n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:200px 0;
}
.banner h1{
    font-size: 47px;
    color: black;
    padding: 10px 0;
}
.banner p{
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
}
.banner button{
    padding: 16px 28px;
    background: black;
    color: white;
    border: none;
}

/* abouts_section */
.abouts_section{
    background-color: #444444;
    padding-top: 100px;
}
.about{
    float: left;
    width:50%;
}  
.about p{
    width: 400px;
    margin: 100px auto;
    line-height: 30px;
    color: white;
    font-size: 20px;
}
.about_img{
    float:right;
    width: 30%;
}

/* teamSection */
.teamSection{
    background-color: #458b83;
    padding-bottom: 60px;
}
.team{

}
.team h1 {
    color: white;
    padding: 56px 0;
}
.t__1{
    float: left;
    width: 30%;
}
.t__1 span {
    background: #000;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
}